body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  background: #111827;
  padding: 15px;
}

.controls {
  margin: 15px;
}

button, input {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  margin-top: 30px;
  height: 260px;
}

.bar {
  width: 35px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
  border-radius: 6px;
}

.left {
  background: #f59e0b !important;
}

.right {
  background: #ef4444 !important;
}

.window {
  background: #22c55e !important;
}