input, button{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:6px;
}

input{
  background:#1e293b;
  color:white;
}

.btn-primary{
  background:#38bdf8;
  color:black;
  font-weight:bold;
  cursor:pointer;
}