.toolbar {
  width: 280px;
  background: rgba(255, 255, 255, 0.07);
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 25px rgba(255, 0, 255, 0.3);
  color: white;
}

.toolbar h2 {
  margin: 0;
  font-size: 22px;
  color: #ff00ff;
}

.toolbar p {
  font-size: 14px;
  opacity: 0.7;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 14px;
}

input[type="range"],
input[type="color"] {
  width: 100%;
  margin-top: 8px;
  cursor: pointer;
}

.btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 14px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  background: #ff00ff;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

.save-btn {
  background: #00f5ff;
}

.save-btn:hover {
  background: white;
}
